Data 690 NLP final project
#https://grouplens.org/datasets/movielens/

In [1]:
#http://beyondvalence.blogspot.com/2014/09/python-and-pandas-part-2-movie-ratings.html
# https://analyticsindiamag.com/how-to-build-your-first-recommender-system-using-python-movielens-dataset/

CSV from Educational file

In [2]:
import pandas as pd

df_movies = pd.read_csv("https://raw.githubusercontent.com/isanjawa/Data690_NLP/main/movies.csv")

df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:

df_links = pd.read_csv("https://raw.githubusercontent.com/isanjawa/Data690_NLP/main/links.csv")


df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [4]:

df_tags = pd.read_csv("https://raw.githubusercontent.com/isanjawa/Data690_NLP/main/tags.csv")

df_tags

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [5]:
df_tmdb = pd.read_csv('https://raw.githubusercontent.com/isanjawa/Data690_NLP/main/tmdb_5000_movies.csv')
df_tmdb.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
# Extracting columns from df_tmdb

df_overview = df_tmdb[['id', 'overview', 'title']]
df_overview.head()

,id,overview,title
0,19995,"In the 22nd century, a paraplegic Marine is di...",Avatar
1,285,"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End
2,206647,A cryptic message from Bondâ€™s past sends him o...,Spectre
3,49026,Following the death of District Attorney Harve...,The Dark Knight Rises
4,49529,"John Carter is a war-weary, former military ca...",John Carter

## Building our Recommender system

In [7]:
import nltk
nltk.download('punkt')

def tokenize(text):
    token = nltk.word_tokenize(text)
    return token

[nltk_data] Downloading package punkt to /Users/mhgrody/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [8]:
df1 = df_tags.groupby('movieId')['tag'].apply(lambda x: ' '.join(x.astype(str))).reset_index()
df1.head()

   movieId                                           tag
0        1                               pixar pixar fun
1        2  fantasy magic board game Robin Williams game
2        3                                     moldy old
3        5                              pregnancy remake
4        7                                        remake

In [9]:
df1['tokens'] = df1.apply(lambda row: tokenize(row['tag']), axis=1)
df1

,movieId,tag,tokens
0,1,pixar pixar fun,"[pixar, pixar, fun]"
1,2,fantasy magic board game Robin Williams game,"[fantasy, magic, board, game, Robin, Williams,..."
2,3,moldy old,"[moldy, old]"
3,5,pregnancy remake,"[pregnancy, remake]"
4,7,remake,[remake]
...,...,...,...
1567,183611,Comedy funny Rachel McAdams,"[Comedy, funny, Rachel, McAdams]"
1568,184471,adventure Alicia Vikander video game adaptation,"[adventure, Alicia, Vikander, video, game, ada..."
1569,187593,Josh Brolin Ryan Reynolds sarcasm,"[Josh, Brolin, Ryan, Reynolds, sarcasm]"
1570,187595,Emilia Clarke star wars,"[Emilia, Clarke, star, wars]"
1571,193565,anime comedy gintama remaster,"[anime, comedy, gintama, remaster]"

In [10]:
!spacy download es_core_news_sm

Requirement already satisfied: es_core_news_sm==2.3.1 from https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.3.1/es_core_news_sm-2.3.1.tar.gz#egg=es_core_news_sm==2.3.1 in /opt/anaconda3/lib/python3.8/site-packages (2.3.1)
Requirement already satisfied: spacy<2.4.0,>=2.3.0 in /opt/anaconda3/lib/python3.8/site-packages (from es_core_news_sm==2.3.1) (2.3.2)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (0.4.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (2.24.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (50.3.2)
Requirement already satisfied: numpy>=1.15.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (1.19.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (3.0.2)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (0.7.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (4.47.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (0.9.6)
Requirement already satisfied: thinc==7.4.1 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (7.4.1)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (1.0.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (1.0.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (1.0.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (2.0.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->es_core_news_sm==2.3.1) (2020.6.20)
âœ” Download and installation successful
You can now load the model via spacy.load('es_core_news_sm')

In [11]:
!pip3 install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz

Collecting https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz (12.0 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 12.0 MB 7.1 MB/s eta 0:00:01
Requirement already satisfied (use --upgrade to upgrade): en-core-web-sm==2.2.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz in /opt/anaconda3/lib/python3.8/site-packages
Requirement already satisfied: spacy>=2.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from en-core-web-sm==2.2.0) (2.3.2)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (0.4.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (2.24.0)
Requirement already satisfied: thinc==7.4.1 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (7.4.1)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (1.0.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (2.0.3)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (4.47.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (1.0.2)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (0.7.1)
Requirement already satisfied: numpy>=1.15.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (1.19.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (1.0.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (3.0.2)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (50.3.2)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /opt/anaconda3/lib/python3.8/site-packages (from spacy>=2.2.0->en-core-web-sm==2.2.0) (0.9.6)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en-core-web-sm==2.2.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en-core-web-sm==2.2.0) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en-core-web-sm==2.2.0) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en-core-web-sm==2.2.0) (2.10)
Building wheels for collected packages: en-core-web-sm
  Building wheel for en-core-web-sm (setup.py) ... done
  Created wheel for en-core-web-sm: filename=en_core_web_sm-2.2.0-py3-none-any.whl size=12019121 sha256=6d4da7cf2fe12f2c4ed5ad358b9ca6bfcd4093a916d105ba52bf729674dafad3
  Stored in directory: /Users/mhgrody/Library/Caches/pip/wheels/fc/31/e9/092e6f05b2817c9cb45804a3d1bf2b9bf6575742c01819337c
Successfully built en-core-web-sm

In [12]:
import en_core_web_sm
nlp = en_core_web_sm.load()

/opt/anaconda3/lib/python3.8/site-packages/spacy/util.py:275: UserWarning: [W031] Model 'en_core_web_sm' (2.2.0) requires spaCy v2.2 and is incompatible with the current spaCy version (2.3.2). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [13]:
#Extract names from user tags and combine them into a single token
def person_name(df):
    # Processing text in the rows
    df_a = nlp(df)
    # extracting named entities
    df_b = [ent.text for ent in df_a.ents if ent.label_ == 'PERSON' ]
     
    for i in range(0, len(df_b)):
      
      df_b[i] = ''.join(tokenize(df_b[i])).lower()

    
    return ("" .join(df_b))
  
    
df1['cast'] = df1['tag'].apply(person_name)

df1

,movieId,tag,tokens,cast
0,1,pixar pixar fun,"[pixar, pixar, fun]",
1,2,fantasy magic board game Robin Williams game,"[fantasy, magic, board, game, Robin, Williams,...",robinwilliams
2,3,moldy old,"[moldy, old]",moldyold
3,5,pregnancy remake,"[pregnancy, remake]",
4,7,remake,[remake],
...,...,...,...,...
1567,183611,Comedy funny Rachel McAdams,"[Comedy, funny, Rachel, McAdams]",rachelmcadams
1568,184471,adventure Alicia Vikander video game adaptation,"[adventure, Alicia, Vikander, video, game, ada...",aliciavikander
1569,187593,Josh Brolin Ryan Reynolds sarcasm,"[Josh, Brolin, Ryan, Reynolds, sarcasm]",joshbrolinryanreynolds
1570,187595,Emilia Clarke star wars,"[Emilia, Clarke, star, wars]",
1571,193565,anime comedy gintama remaster,"[anime, comedy, gintama, remaster]",

In [14]:
#Get title and genres
newDF = pd.merge(df1, df_movies, on='movieId')
newDF.head()

,movieId,tag,tokens,cast,title,genres
0,1,pixar pixar fun,"[pixar, pixar, fun]",,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,fantasy magic board game Robin Williams game,"[fantasy, magic, board, game, Robin, Williams,...",robinwilliams,Jumanji (1995),Adventure|Children|Fantasy
2,3,moldy old,"[moldy, old]",moldyold,Grumpier Old Men (1995),Comedy|Romance
3,5,pregnancy remake,"[pregnancy, remake]",,Father of the Bride Part II (1995),Comedy
4,7,remake,[remake],,Sabrina (1995),Comedy|Romance

In [15]:
newDF['genre tokens'] = newDF.apply(lambda row: row['genres'].split('|'), axis=1)
newDF.head()

,movieId,tag,tokens,cast,title,genres,genre tokens
0,1,pixar pixar fun,"[pixar, pixar, fun]",,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,fantasy magic board game Robin Williams game,"[fantasy, magic, board, game, Robin, Williams,...",robinwilliams,Jumanji (1995),Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]"
2,3,moldy old,"[moldy, old]",moldyold,Grumpier Old Men (1995),Comedy|Romance,"[Comedy, Romance]"
3,5,pregnancy remake,"[pregnancy, remake]",,Father of the Bride Part II (1995),Comedy,[Comedy]
4,7,remake,[remake],,Sabrina (1995),Comedy|Romance,"[Comedy, Romance]"

In [16]:
#merge dataframe with the dataframe containing different types of movie ids
mergeIDs = pd.merge(df_links, newDF, on='movieId')
mergeIDs

,movieId,imdbId,tmdbId,tag,tokens,cast,title,genres,genre tokens
0,1,114709,862.0,pixar pixar fun,"[pixar, pixar, fun]",,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,113497,8844.0,fantasy magic board game Robin Williams game,"[fantasy, magic, board, game, Robin, Williams,...",robinwilliams,Jumanji (1995),Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]"
2,3,113228,15602.0,moldy old,"[moldy, old]",moldyold,Grumpier Old Men (1995),Comedy|Romance,"[Comedy, Romance]"
3,5,113041,11862.0,pregnancy remake,"[pregnancy, remake]",,Father of the Bride Part II (1995),Comedy,[Comedy]
4,7,114319,11860.0,remake,[remake],,Sabrina (1995),Comedy|Romance,"[Comedy, Romance]"
...,...,...,...,...,...,...,...,...,...
1567,183611,2704998,445571.0,Comedy funny Rachel McAdams,"[Comedy, funny, Rachel, McAdams]",rachelmcadams,Game Night (2018),Action|Comedy|Crime|Horror,"[Action, Comedy, Crime, Horror]"
1568,184471,1365519,338970.0,adventure Alicia Vikander video game adaptation,"[adventure, Alicia, Vikander, video, game, ada...",aliciavikander,Tomb Raider (2018),Action|Adventure|Fantasy,"[Action, Adventure, Fantasy]"
1569,187593,5463162,383498.0,Josh Brolin Ryan Reynolds sarcasm,"[Josh, Brolin, Ryan, Reynolds, sarcasm]",joshbrolinryanreynolds,Deadpool 2 (2018),Action|Comedy|Sci-Fi,"[Action, Comedy, Sci-Fi]"
1570,187595,3778644,348350.0,Emilia Clarke star wars,"[Emilia, Clarke, star, wars]",,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,"[Action, Adventure, Children, Sci-Fi]"
1571,193565,1636780,71172.0,anime comedy gintama remaster,"[anime, comedy, gintama, remaster]",,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,"[Action, Animation, Comedy, Sci-Fi]"

In [17]:
df_overview["tmdbId"] = pd.to_numeric(df_overview['id'], errors='coerce',downcast="integer")

<ipython-input-17-7baddc5b77ff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_overview["tmdbId"] = pd.to_numeric(df_overview['id'], errors='coerce',downcast="integer")

In [18]:
#combine previous df with the tmdb dataset to get plot overviews
mergeIDs = pd.merge(mergeIDs, df_overview, on='tmdbId', how='outer')
mergeIDs

,movieId,imdbId,tmdbId,tag,tokens,cast,title_x,genres,genre tokens,id,overview,title_y
0,1.0,114709.0,862.0,pixar pixar fun,"[pixar, pixar, fun]",,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]",862.0,"Led by Woody, Andy's toys live happily in his ...",Toy Story
1,2.0,113497.0,8844.0,fantasy magic board game Robin Williams game,"[fantasy, magic, board, game, Robin, Williams,...",robinwilliams,Jumanji (1995),Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]",NaN,NaN,NaN
2,3.0,113228.0,15602.0,moldy old,"[moldy, old]",moldyold,Grumpier Old Men (1995),Comedy|Romance,"[Comedy, Romance]",NaN,NaN,NaN
3,5.0,113041.0,11862.0,pregnancy remake,"[pregnancy, remake]",,Father of the Bride Part II (1995),Comedy,[Comedy],NaN,NaN,NaN
4,7.0,114319.0,11860.0,remake,[remake],,Sabrina (1995),Comedy|Romance,"[Comedy, Romance]",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5616,NaN,NaN,9367.0,NaN,NaN,NaN,NaN,NaN,NaN,9367.0,El Mariachi just wants to play his guitar and ...,El Mariachi
5617,NaN,NaN,72766.0,NaN,NaN,NaN,NaN,NaN,NaN,72766.0,A newlywed couple's honeymoon is upended by th...,Newlyweds
5618,NaN,NaN,231617.0,NaN,NaN,NaN,NaN,NaN,NaN,231617.0,"""Signed, Sealed, Delivered"" introduces a dedic...","Signed, Sealed, Delivered"
5619,NaN,NaN,126186.0,NaN,NaN,NaN,NaN,NaN,NaN,126186.0,When ambitious New York attorney Sam is sent t...,Shanghai Calling
5620,NaN,NaN,25975.0,NaN,NaN,NaN,NaN,NaN,NaN,25975.0,Ever since the second grade when he first saw ...,My Date with Drew

In [19]:
import re
def removeYear(title):
  return re.sub(r'\([^)]*\)', '', str(title))

mergeIDs['title_x'] = mergeIDs['title_x'].fillna(mergeIDs['title_y'])
mergeIDs['title'] = mergeIDs.apply(lambda row: removeYear(row['title_x']), axis=1)

mergeIDs['tokens'] = mergeIDs['tokens'].fillna("")
mergeIDs['genre tokens'] = mergeIDs['genre tokens'].fillna("")
mergeIDs['overview'] = mergeIDs['overview'].fillna("")
mergeIDs['cast'] = mergeIDs['cast'].fillna("")

cleanDF = mergeIDs.drop(['movieId', 'imdbId', 'tag', 'title_x', 'genres', 'id', 'title_y'], axis=1)

cleanDF

,tmdbId,tokens,cast,genre tokens,overview,title
0,862.0,"[pixar, pixar, fun]",,"[Adventure, Animation, Children, Comedy, Fantasy]","Led by Woody, Andy's toys live happily in his ...",Toy Story
1,8844.0,"[fantasy, magic, board, game, Robin, Williams,...",robinwilliams,"[Adventure, Children, Fantasy]",,Jumanji
2,15602.0,"[moldy, old]",moldyold,"[Comedy, Romance]",,Grumpier Old Men
3,11862.0,"[pregnancy, remake]",,[Comedy],,Father of the Bride Part II
4,11860.0,[remake],,"[Comedy, Romance]",,Sabrina
...,...,...,...,...,...,...
5616,9367.0,,,,El Mariachi just wants to play his guitar and ...,El Mariachi
5617,72766.0,,,,A newlywed couple's honeymoon is upended by th...,Newlyweds
5618,231617.0,,,,"""Signed, Sealed, Delivered"" introduces a dedic...","Signed, Sealed, Delivered"
5619,126186.0,,,,When ambitious New York attorney Sam is sent t...,Shanghai Calling
5620,25975.0,,,,Ever since the second grade when he first saw ...,My Date with Drew

In [20]:
pip install clean-text

Requirement already satisfied: clean-text in /opt/anaconda3/lib/python3.8/site-packages (0.2.1)
Requirement already satisfied: ftfy<6.0,>=5.8 in /opt/anaconda3/lib/python3.8/site-packages (from clean-text) (5.8)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.8/site-packages (from ftfy<6.0,>=5.8->clean-text) (0.2.5)
Note: you may need to restart the kernel to use updated packages.

In [21]:
#Clean the text to remove unnecesary characters
from cleantext import clean

cleanDF['overview'] = cleanDF.apply(lambda row: clean(row['overview'],
    fix_unicode=True,               # fix various unicode errors
    to_ascii=True,                  # transliterate to closest ASCII representation
    lower=True,                     # lowercase text
    no_line_breaks=True,           # fully strip line breaks as opposed to only normalizing them
    no_urls=True,                  # replace all URLs with a special token
    no_emails=True,                # replace all email addresses with a special token
    no_phone_numbers=True,         # replace all phone numbers with a special token
    no_numbers=True,               # replace all numbers with a special token
    no_digits=True,                # replace all digits with a special token
    no_currency_symbols=True,      # replace all currency symbols with a special token
    no_punct=True,                 # fully remove punctuation
    replace_with_url="",
    replace_with_email="",
    replace_with_phone_number="",
    replace_with_number="",
    replace_with_digit="",
    replace_with_currency_symbol="",
    lang="en"                       # set to 'de' for German special handling
), axis=1)
cleanDF

,tmdbId,tokens,cast,genre tokens,overview,title
0,862.0,"[pixar, pixar, fun]",,"[Adventure, Animation, Children, Comedy, Fantasy]",led by woody andys toys live happily in his ro...,Toy Story
1,8844.0,"[fantasy, magic, board, game, Robin, Williams,...",robinwilliams,"[Adventure, Children, Fantasy]",,Jumanji
2,15602.0,"[moldy, old]",moldyold,"[Comedy, Romance]",,Grumpier Old Men
3,11862.0,"[pregnancy, remake]",,[Comedy],,Father of the Bride Part II
4,11860.0,[remake],,"[Comedy, Romance]",,Sabrina
...,...,...,...,...,...,...
5616,9367.0,,,,el mariachi just wants to play his guitar and ...,El Mariachi
5617,72766.0,,,,a newlywed couples honeymoon is upended by the...,Newlyweds
5618,231617.0,,,,signed sealed delivered introduces a dedicated...,"Signed, Sealed, Delivered"
5619,126186.0,,,,when ambitious new york attorney sam is sent t...,Shanghai Calling
5620,25975.0,,,,ever since the second grade when he first saw ...,My Date with Drew

In [22]:
def listToString(s):  
    
    # initialize an empty string 
    str1 = " " 
    
    # return string   
    return (str1.join(s)) 


tokenCols = ['tokens', 'genre tokens']
for col in tokenCols:
  cleanDF[col] = cleanDF.apply(lambda row: listToString(row[col]),axis = 1)


cleanDF['combined tokens'] = cleanDF['tokens'] + " " + cleanDF['genre tokens'] + " " + cleanDF['overview'] + " " + cleanDF['cast']
cleanDF['combined tokens'] = cleanDF.apply(lambda row: tokenize(row['combined tokens']), axis=1)
cleanDF

,tmdbId,tokens,cast,genre tokens,overview,title,combined tokens
0,862.0,pixar pixar fun,,Adventure Animation Children Comedy Fantasy,led by woody andys toys live happily in his ro...,Toy Story,"[pixar, pixar, fun, Adventure, Animation, Chil..."
1,8844.0,fantasy magic board game Robin Williams game,robinwilliams,Adventure Children Fantasy,,Jumanji,"[fantasy, magic, board, game, Robin, Williams,..."
2,15602.0,moldy old,moldyold,Comedy Romance,,Grumpier Old Men,"[moldy, old, Comedy, Romance, moldyold]"
3,11862.0,pregnancy remake,,Comedy,,Father of the Bride Part II,"[pregnancy, remake, Comedy]"
4,11860.0,remake,,Comedy Romance,,Sabrina,"[remake, Comedy, Romance]"
...,...,...,...,...,...,...,...
5616,9367.0,,,,el mariachi just wants to play his guitar and ...,El Mariachi,"[el, mariachi, just, wants, to, play, his, gui..."
5617,72766.0,,,,a newlywed couples honeymoon is upended by the...,Newlyweds,"[a, newlywed, couples, honeymoon, is, upended,..."
5618,231617.0,,,,signed sealed delivered introduces a dedicated...,"Signed, Sealed, Delivered","[signed, sealed, delivered, introduces, a, ded..."
5619,126186.0,,,,when ambitious new york attorney sam is sent t...,Shanghai Calling,"[when, ambitious, new, york, attorney, sam, is..."
5620,25975.0,,,,ever since the second grade when he first saw ...,My Date with Drew,"[ever, since, the, second, grade, when, he, fi..."

In [23]:
#Lemmatize the tokens
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
wordnet_lemmatizer = WordNetLemmatizer()

def lemma(tokens):
    tokenList = []
    for token in tokens:
        tokenList.append(wordnet_lemmatizer.lemmatize(token))
    return tokenList

cleanDF['combined tokens'] = cleanDF.apply(lambda row: lemma(row['combined tokens']), axis=1)

[nltk_data] Downloading package wordnet to /Users/mhgrody/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [24]:
#remove stopwords
import spacy
sp = spacy.load('en_core_web_sm')
all_stopwords = sp.Defaults.stop_words

def removeStopWords(tokens):
    tokens_without_sw = [word for word in tokens if not word in all_stopwords]
    return tokens_without_sw

cleanDF['combined tokens'] = cleanDF.apply(lambda row: removeStopWords(row['combined tokens']), axis=1)
cleanDF['combined tokens'] = cleanDF.apply(lambda row: listToString(row['combined tokens']), axis=1)
cleanDF

/opt/anaconda3/lib/python3.8/site-packages/spacy/util.py:275: UserWarning: [W031] Model 'en_core_web_sm' (2.2.0) requires spaCy v2.2 and is incompatible with the current spaCy version (2.3.2). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

,tmdbId,tokens,cast,genre tokens,overview,title,combined tokens
0,862.0,pixar pixar fun,,Adventure Animation Children Comedy Fantasy,led by woody andys toys live happily in his ro...,Toy Story,pixar pixar fun Adventure Animation Children C...
1,8844.0,fantasy magic board game Robin Williams game,robinwilliams,Adventure Children Fantasy,,Jumanji,fantasy magic board game Robin Williams game A...
2,15602.0,moldy old,moldyold,Comedy Romance,,Grumpier Old Men,moldy old Comedy Romance moldyold
3,11862.0,pregnancy remake,,Comedy,,Father of the Bride Part II,pregnancy remake Comedy
4,11860.0,remake,,Comedy Romance,,Sabrina,remake Comedy Romance
...,...,...,...,...,...,...,...
5616,9367.0,,,,el mariachi just wants to play his guitar and ...,El Mariachi,el mariachi want play guitar carry family trad...
5617,72766.0,,,,a newlywed couples honeymoon is upended by the...,Newlyweds,newlywed couple honeymoon upended arrival resp...
5618,231617.0,,,,signed sealed delivered introduces a dedicated...,"Signed, Sealed, Delivered",signed sealed delivered introduces dedicated q...
5619,126186.0,,,,when ambitious new york attorney sam is sent t...,Shanghai Calling,ambitious new york attorney sam sent shanghai ...
5620,25975.0,,,,ever since the second grade when he first saw ...,My Date with Drew,second grade saw et extraterrestrial brian her...

In [25]:
cleanDF['combined tokens'] = cleanDF.apply(lambda row: row['combined tokens'].lower(), axis=1)
cleanDF

,tmdbId,tokens,cast,genre tokens,overview,title,combined tokens
0,862.0,pixar pixar fun,,Adventure Animation Children Comedy Fantasy,led by woody andys toys live happily in his ro...,Toy Story,pixar pixar fun adventure animation children c...
1,8844.0,fantasy magic board game Robin Williams game,robinwilliams,Adventure Children Fantasy,,Jumanji,fantasy magic board game robin williams game a...
2,15602.0,moldy old,moldyold,Comedy Romance,,Grumpier Old Men,moldy old comedy romance moldyold
3,11862.0,pregnancy remake,,Comedy,,Father of the Bride Part II,pregnancy remake comedy
4,11860.0,remake,,Comedy Romance,,Sabrina,remake comedy romance
...,...,...,...,...,...,...,...
5616,9367.0,,,,el mariachi just wants to play his guitar and ...,El Mariachi,el mariachi want play guitar carry family trad...
5617,72766.0,,,,a newlywed couples honeymoon is upended by the...,Newlyweds,newlywed couple honeymoon upended arrival resp...
5618,231617.0,,,,signed sealed delivered introduces a dedicated...,"Signed, Sealed, Delivered",signed sealed delivered introduces dedicated q...
5619,126186.0,,,,when ambitious new york attorney sam is sent t...,Shanghai Calling,ambitious new york attorney sam sent shanghai ...
5620,25975.0,,,,ever since the second grade when he first saw ...,My Date with Drew,second grade saw et extraterrestrial brian her...

In [26]:
#Import TfIdfVectorizer from the scikit-learn library
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stopwords
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
cleanDF['combined tokens'] = cleanDF['combined tokens'].fillna('')

#Construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
tfidf_matrix = tfidf.fit_transform(cleanDF['combined tokens'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(5621, 20832)

In [27]:
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [28]:
#Construct a reverse mapping of indices and movie titles, and drop duplicate titles, if any
indices = pd.Series(cleanDF.index, index=cleanDF['title']).drop_duplicates()

#indices

In [29]:
# Function that takes in movie title as input and gives recommendations 
def content_recommender(title, cosine_sim=cosine_sim, cleanDF=cleanDF, indices=indices):
    # Obtain the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies. Ignore the first movie.
    newSims = []
    for score in sim_scores:
        if score[1] >= 0.10 and score[1] <1:
            newSims.append(score)
    #sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in newSims]

    # Return the top 10 most similar movies
    return cleanDF['title'].iloc[movie_indices]

In [35]:
#Get recommendations for Toy Story
content_recommender('Toy Story ')

666                                  Toy Story 2
1598                                  Toy Story 3
643                     Who Framed Roger Rabbit?
1444                                      Sintel
3939                       For Your Consideration
1274                    Kiki's Delivery Service
248                          Alice in Wonderland
511                               Watership Down
506                       Lord of the Rings, The
500                              101 Dalmatians
947                          My Neighbor Totoro
1011                  Laputa: Castle in the Sky
1281                           Cat Returns, The
544                                Bug's Life, A
512                          Secret of NIMH, The
243                                   Cinderella
308     Grand Day Out with Wallace and Gromit, A
489                     Honey, I Shrunk the Kids
247                                Pete's Dragon
499                           Lady and the Tramp
167              Wallace & Gromit: A Close Shave
498                             Jungle Book, The
136              Nightmare Before Christmas, The
152                              Aristocats, The
148                         Beauty and the Beast
797                                    Losin' It
Name: title, dtype: object